ctf_admin_homepage:
    pattern:  /admin
    defaults: { _controller: CTFAdminBundle:Admin:index }
    
ctf_admin_settings:
    pattern: /admin/settings
    defaults: { _controller: CTFAdminBundle:Admin:settings }

ctf_admin_announce:
    pattern: /admin/announce
    defaults: { _controller: CTFAdminBundle:Admin:announce }
    options:
      expose: true

ctf_admin_chat:
    pattern: /admin/chat
    defaults: { _controller: CTFAdminBundle:Admin:chat }

ctf_admin_stage:
    pattern: /admin/stage
    defaults: { _controller: CTFAdminBundle:Admin:stage }

ctf_admin_stage_form:
    pattern: /admin/stage/form/{id}
    defaults: { _controller: CTFAdminBundle:Admin:stageForm, id: -1 }
    options:
      expose: true
      
ctf_admin_stage_list:
    pattern: /admin/stage/list/{q}
    defaults: { _controller: CTFAdminBundle:Admin:stageList, q: 0 }
    options:
      expose: true

ctf_admin_stage_question:
    pattern: /admin/stage/question/{id}/{stage}
    defaults: { _controller: CTFAdminBundle:Admin:question, id: -1, stage: -1 }
    options:
      expose: true

ctf_admin_team_list:
    pattern: /admin/list/teams/{query}
    defaults: { _controller: CTFAdminBundle:Admin:listTeams, query: '' }
    options:
      expose: true

ctf_admin_team_ban:
    pattern: /admin/team/ban/{name}
    defaults: { _controller: CTFAdminBundle:Admin:banTeam }
    options:
      expose: true

ctf_admin_team_unban:
    pattern: /admin/team/unban/{name}
    defaults: { _controller: CTFAdminBundle:Admin:unbanTeam }
    options:
      expose: true

ctf_admin_user_list:
    pattern: /admin/list/users/{query}
    defaults: { _controller: CTFAdminBundle:Admin:listUsers, query: '' }
    options:
      expose: true

ctf_admin_user_ban:
    pattern: /admin/user/ban/{name}
    defaults: { _controller: CTFAdminBundle:Admin:banUser }
    options:
      expose: true

ctf_admin_user_unban:
    pattern: /admin/user/unban/{name}
    defaults: { _controller: CTFAdminBundle:Admin:unbanUser }
    options:
      expose: true