{# About Twig template #}

{% set active = 'about' %}
{% extends "::base.html.twig" %}

{% block title %}
About &middot; Ehack CTF
{% endblock %}

{% block content %}
<div class="container-fluid clearfix">
    <div class="row-fluid">
        <div class="span12"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h1>About E-HACK in Chennai</h1>

            <p>
                Chennai is the city through which India’s primary Internet backbone cable runs into land from sea.  This Techno-wizard city has something to do with hacking.  Yes it just got easier and better because the city is welcoming legendary teachers and pioneers to educate you to hack your way through any information system ever invented. E hack is just not any other workshop it is the place to be if you want to keep your information discreet.  The pioneers are going to be here in your city to make you Professional Hackers.
            </p>
            
            <hr />
            
            <h1>WHAT IS CTF?</h1>

            <p>
                Capture the Flag (CTF) is a real time scenario game. You’ll be given a scenario which will require you to hack into a server/site. There will be multiple levels and you have to progress through each level by hacking through it. For instance the first level will need a password to enter, so you’ll have to identify the password and progress to the next level. It’s not going to be straight forward like this, it’s just an example. With a total of 50 levels, the team/person which cracks the maximum number of levels within the time limit, will be announced the winner.
            </p>

            <p>
                The first couple of levels are bound to be easier because of the training provided throughout day 1, but in the later levels you’ll be facing things which you might’ve never faced before like a combination of hacks for instance. There will be a live leader board which will be reflecting the performance of each and every team. That will heat up the contest more. Amidst all this, social engineering is totally allowed and please do have fights but only online! Use of fists not allowed!! 
            </p>
        </div>
    </div>
</div>
{% endblock %}
