{# About Twig template #}

{% set active = 'about' %}
{% extends "::base.html.twig" %}

{% block title %}
About &middot; Ehack CTF
{% endblock %}

{% block content %}
<div class="container-fluid clearfix">
    <div class="row-fluid">
        <div class="span12"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h1>About E-HACK</h1>

            <p>
                “Capture the Flag” concept is a carefully designed security hacking game specially designed for ethical hackers and security professionals from the attendees to mock the attackers and crackers in the security battlefield LIVE. It makes participants make teams and face scenarios of various kind of attacks so that the end user understand , learns and gets fully equipped on the threats in the day to day world. For more information , Suggestions etc, contact : Refer : <a href="www.infysec.com" target="_blank">www.infysec.com</a> email: <a href="mailto:enquiry@infysec.com">enquiry at infysec.com</a>
            </p>
            
            <hr />
            
            <h1>What is <em>CTF</em>?</h1>

            <p>
                Capture the Flag (CTF) is a real time scenario game. You’ll be given a scenario which will require you to hack into a server/site. There will be multiple levels and you have to progress through each level by hacking through it. For instance the first level will need a password to enter, so you’ll have to identify the password and progress to the next level. It’s not going to be straight forward like this, it’s just an example. With a total of 50 levels, the team/person which cracks the maximum number of levels within the time limit, will be announced the winner.
            </p>

            <p>
                The first couple of levels are bound to be easier because of the training provided throughout day 1, but in the later levels you’ll be facing things which you might’ve never faced before like a combination of hacks for instance. There will be a live leader board which will be reflecting the performance of each and every team. That will heat up the contest more. Amidst all this, social engineering is totally allowed and please do have fights but only online! Use of fists not allowed!! 
            </p>
        </div>
    </div>
</div>
{% endblock %}
