{# represents the MENU-items #}
{% block menuitems %}
<ul class="nav">
    {% if admin_menuitems is not defined %}
    <li {% if active == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
    <li {% if active == 'about' %}class="active"{% endif %}><a href="#about">About</a></li>
    <li {% if active == 'quest' %}class="active"{% endif %}><a href="{{ path('ctf_quest_homepage') }}">Quest</a></li>
    {% else %}
    <li {% if active == 'home' %}class="active"{% endif %}><a href="/">Home</a></li>
    {% endif %}
</ul>
{% endblock %}