{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
    
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Keep me logged in</label>
    
    <button type="submit">Login</button>
</form>
