{# This defines the generic template for the website #}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

</body>
</html>