/* 
    Document   : stats-base
    Created on : 28 Jun, 2013, 1:07:29 AM
    Author     : amrith92
    Description:
        Purpose of the stylesheet follows.
*/

h1 {
    font-family: 'Exo', Arial, sans-serif;
}

.nav-list li a, .nav-list li a:active {
    color: #fcfcfc;
}

.nav-list li a:visited, .nav-list li a:hover {
    color: #fff;
}

.nav-header {
    color: #fff;
}

.about-me-item {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    overflow-x: none;
    overflow-y: auto;
    background-color: rgba(10, 10, 10, 0.5);
}

.inner-item {
    margin: 10px 10%;
}

.item-block {
    background-color: #2B292E;
    padding: 6px;
}