/* 
    Document   : stats-base
    Created on : 28 Jun, 2013, 1:07:29 AM
    Author     : amrith92
    Description:
        Purpose of the stylesheet follows.
*/

@media screen, handheld, print, projection {
    h1 {
        font-family: 'Exo', Arial, sans-serif;
    }

    .nav-list li a, .nav-list li a:active {
        color: #fcfcfc;
    }

    .nav-list li a:visited, .nav-list li a:hover {
        color: #fff;
    }

    .nav-header {
        color: #fff;
    }

    .about-me-item, .stack-item {
        min-width: 150px;
        min-height: 150px;
        max-height: 150px;
        overflow-x: none;
        overflow-y: auto;
        background-color: rgba(10, 10, 10, 0.5);
    }
    
    .stack-item {
        min-height: 400px;
        max-height: 400px;
    }

    .inner-item {
        margin: 10px 10%;
    }

    .item-block {
        background-color: #2B292E;
        padding: 6px;
    }
    
    .index {
        background: #002b80 url('../images/landing-bg.jpg') center center fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
    }
    
    .footer {
        background: rgb(25,28,53); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MWMzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(25,28,53,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,28,53,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(25,28,53,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(25,28,53,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(25,28,53,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(25,28,53,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191c35', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 12px;
        font-size: 0.75em;
        color: #666;
    }
    
    .centered {
        text-align: center;
        margin: 0 auto;
    }
    
    .clearance {
        margin-top: 5%;
    }
    
    .wall {
        height: 60%!important;
        padding: 4px;
    }
    
    .buttons {
        width: 50%;
    }
    
    #users-map {
        height: 400px;
    }
}