/* 
    Document   : stats-base
    Created on : 28 Jun, 2013, 1:07:29 AM
    Author     : amrith92
    Description:
        Purpose of the stylesheet follows.
*/

h1 {
    font-family: 'Exo', Arial, sans-serif;
}