{# Invalid question #}
<h1>Hold up there!</h1>
<p>
You are <strong>NOT</strong> allowed to view this question yet!
</p>
<p>
    Click on the <span class="label label-important">Quest</span> button to pick up where you left,
    or, if it&apos;s your first time here, begin your journey the same way!
</p>
