{# Scoial Lokes/Follows Twig template #}
<div>
    <fb:like href="http://ehack.in" send="true" layout="button_count" width="200" show_faces="true" font="lucida grande" colorscheme="light"></fb:like>
</div>
<div>
    <a href="https://twitter.com/infysec" class="twitter-follow-button" data-show-count="true" data-lang="en" data-width="200">Follow @infysec</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{#<fb:activity site="http://ehack.in" app_id="{{ facebook_id }}" width="200" height="100" header="false" font="lucida grande" recommendations="true" colorscheme="light"></fb:activity>#}