{# Stop-To-Share Twig template #}

{% extends "CTFQuestBundle:Quest:finish.html.twig" %}

{% block content %}
    <p>
        <strong>Congratulations!</strong> You have made it past <em>another</em> stage!
        We hope you've enjoyed yourself immensely. Don't forget to collect your certificate,
        and share your achievements before you carry on!
    </p>
{% endblock %}

{% block terminus %}
    <hr />
    <div style="text-align: right;">
        <button class="btn btn-primary" onclick="javascript:carryOn();"><i class="icon-white icon-arrow-right"></i> Carry On</button>
    </div>
    <script type="text/javascript">
//<!--
    function carryOn() {
        document.getElementById('question-dyn').innerHTML = '<div id="question-dyn-loader">' + document.getElementById('loader').innerHTML + '</div>';
        
        $.get(Routing.generate('ctf_quest_fetch', { qid: {{ next }} }), null, function(data) {
            var rp = JSON.parse(data);

            $('#question-dyn').html(rp.message).show().fadeIn();

            if ('success' == rp.result) {
                updateCurrentStats();
            }
        });
    }
//-->
    </script>
{% endblock %}
