{# Team Chat template #}
<div id="chat-client">
    <div id="chat-list-info">
        <a href="#clients" id="client-list-button"><i class="icon-user icon-white"></i>&nbsp;Members</a>
        <div id="clientList" class="hidden">
        </div>
    </div>
    <div id="chat" class="well well-small">
    </div>
    <div class="input-append">
        <input id="chat-bar" type="text" class="span9" />
        <button class="btn btn-primary" type="button" id="chat-send">Send</button>
    </div>
</div>