{# Twitter share-certificate Twig template #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <a id="twitter_share" href="https://twitter.com/share" class="twitter-share-button" data-url="{{ app.request.getScheme() }}://{{ app.request.getHttpHost() }}{{ path('ctf_certificate_user', { id: app.user.getId() }) }}" data-text="Ehack! ARE YOU HAC-KING TODAY? Look at my super-awesome certificate!" data-via="EHACK" data-size="large" data-hashtags="ehack,ctf">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
