{# Share page #}
<div class="well well-small">
    <h1>Help us spread the word!</h1>
    <p>
        Help us bring in <strong>even more</strong> fantastic people such as you!
        Do your part to make this truly brilliant.
    </p>
    <hr />
    {% include "CTFQuestBundle:Quest:social-likes.html.twig" %}
    <hr />
    {% include "CTFQuestBundle:Quest:social-share.html.twig" %}
</div>
