{% extends "CTFAdminBundle::layout.html.twig" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        
    </div>
</div>
{% endblock %}