{# List of stages #}
<ul class="nav nav-list well">
    {% for item in list %}
    <li><a href="{{ path('ctf_admin_stage_form', { id: item.getId() }) }}" class="list-item"><span class="badge badge-inverse">{{ item.getId() }}</span> {{ item.getName() }}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a href="#" id="add-more-stages">Add More &raquo;</a></li>
</ul>
