{# ESI page for locked-out stats Twig template #}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div>
                <center>
                    <img src="{{ asset('bundles/ctfstatistics/images/lock.png') }}"><br />
                    <h2>Looks like you&apos;re out-of-luck!</h2>
                    <p>
                        Statistics have been disabled for the time-being.
                        Please come back and try again later.
                    </p>
                </center>
            </div>
        </div>
    </div>
</div>