{# User-Statistics Twig template #}
{% set active = "stats" %}
{% extends "::base.html.twig" %}

{% block title %}
Statistics &middot; Ehack CTF
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="well">
                <center>
                    <img src="{{ asset('bundles/ctfstatistics/images/lock.png') }}"><br />
                    <h2>Looks like you&apos;re out-of-luck!</h2>
                    <p>
                        This page has been disabled for the time-being.
                        Please come back and try again later.
                    </p>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}